@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@300;600&family=Lora:wght@400;700&family=Montserrat:ital,wght@0,400;0,700;1,600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-body;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
